*{
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
	background-color: #fefefe;
	background-size: cover;
}


/* ==== INITIALISATION DES POLICES D'ECRITURE ----> Début  ===== */
@font-face{
    font-family: "ROBOTO-LIGHT";
    src: url('Fonts/Roboto/Roboto-Light.ttf');
}
@font-face{
    font-family: "ROBOTO";
    src: url('Fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: "NYALA";
    src: url('Fonts/nyala.ttf');
}
@font-face{
    font-family: "ERAS";
    src: url('Fonts/ERASLGHT.TTF');
}
@font-face{
    font-family: "FELIX";
    src: url('Fonts/FELIXTI.TTF');
}
@font-face{
    font-family: "GOTHIC";
    src: url('Fonts/GOTHIC.TTF');
}
@font-face{
    font-family: "MAIAN";
    src: url('Fonts/MAIAN.TTF');
}
@font-face{
    font-family: "SEGO";
    src: url('Fonts/segoescb.ttf');
}
@font-face{
    font-family: "SEGUI";
    src: url('Fonts/seguili.ttf');
}
@font-face{
    font-family: "SEGU";
    src: url('Fonts/segoeuil.ttf');
}
/* ==== INITIALISATION DES POLICES D'ECRITURE ----> Fin  ===== */

header{
	font-size: 3rem;
	padding-top: 1rem;
	font-family: "SEGO";
	font-style: italique;
}
section{
	width: 90%;
	margin: auto;
	padding: 0.2rem;
}
.big .big-content {
	position: relative;
}
.big .big-content .text{
	font-size: 3rem;
	overflow: hidden;
	opacity: 0;
	font-family: "SEGU";
	color: #616161;
}
.big .big-content .caracteristiques{
	opacity: 0;
	width: 30%;
	position: absolute;
	top: 10rem;
	transition: all 0.5s ease;
}
.big .big-content .caracteristiques .ligne{
	width: 5rem;
	background: transparent;
	color: #616161;
	border: none;
	font-size: 3rem;
}
.big .big-content .profiles {
	background-color: #fff;
	width: 30%;
	margin: 2vh auto;
	padding-top: 50px;
	box-shadow: 0px 0px 3px silver;
}
.big .big-content .profile-photo{
	background-color: #ff9800;
	background-size: cover;
	width: 13rem;
	box-shadow: 0px 0px 5px black;
	height: 13rem;
	border-radius: 20rem;
	margin: auto;
}
.big .big-content .profile-name .nom{
	text-align: center;
	border: none;
	font-family: "SEGO";
	font-size: 2rem;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: -1.5rem;
}
.big .big-content .profile-name .surnom{
	text-align: center;
	color: #545454;
	border: none;
	font-family: "SEGO";
	font-size: 0.85rem;
	width: 100%;
}
.text .text{
	text-align: center;
	border: none;
	font-family: "SEGU";
	font-size: 3rem;
	width: 60%;
	display: inline-block;
	background: transparent;
	margin-bottom: 2rem;	
}
.big .big-content .bloc .boutons{
	font-size: 2rem;
	position: absolute;
	width: 100%;
	margin: auto;
	top: 20vh;
	left: 0;
	font-family: "MAIAN";
	overflow: hidden;
	transition: all 0.5s ease;
}
.dessus-container{
	position: relative;
	z-index: 3;
}
.back{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(10,10,10,0.4);
	height: 100%;
	transition: all 0.3s ease-in-out;
	width: 100%;
}


.big .big-content .bloc .boutons .content{
	display: flex;
	justify-content: space-between;
}
.big .big-content .bloc .boutons .bouton{
	border-radius: 4px;
	width: 30%;
	padding: 1.5rem;
	display: inline-block;
	color: #eee;
	cursor: pointer;
	position: relative;
	height: 30vh;
}
.big .big-content .bloc .boutons img{
	vertical-align: middle;
	display: inline-block;
}
.big .big-content .bloc .boutons .rest{
	border: none;
	position: absolute;
	width: 5rem;
	background-color:transparent;
	margin-top: 1rem;
	color: white;
	font-size: 1.5rem;
	top: 0;
	right: 0;
}	
.big .big-content .bloc .boutons .fille{
	background: #f06292;
	background: rgb(231,37,109);
	box-shadow: 1px 1px 4px #880e4f;
	transition: all 0.2s ease;
}
.big .big-content .bloc .boutons .fille:hover .back{
	height: 0;
}
.big .big-content .bloc .boutons .garcon{	
	background: #64b5f6;
	background: rgb(0,162,232);
	box-shadow: 1px 1px 2px blue;
	transition: all 0.2s ease;
}
.big .big-content .bloc .boutons .garcon:hover .back{
	height: 0;
}
.big .big-content .bloc .boutons .garcon:active{
	transform: scale(0.9);
}
.big .big-content .bloc .boutons .fille:active{
	transform: scale(0.9);
}

footer{
	font-family: "GOTHIC";
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer .text-citation{
	padding-bottom: 20px;
	font-size: 1.5rem;
}
footer .copyright{
	font-size: 0.81rem;
	padding: 10px;
}
footer hr{
	background: transparent;
	border: none;
	margin: auto;
	width: 20%;
	border-top: 1px solid black;
}
footer .copyright a{
	text-decoration: none;
	color: orange;
}